<div>
<%= form.text_field :title, type: 'text', class: 'form-control', placeholder: 'Title' %>
</div>
<div>
<%= form.text_area :content, type: 'text', class: 'form-control', placeholder: 'Content' %>
</div>