<h2> Welcome to Next Overflow </h2>

<h4> Ask a question </h4>
<%= form_for @question do |form| %>
	<%= render partial: '/questions/form', object: form %>
	<div>
		<%= form.submit %>
	</div>
<% end %>